body.container{
    padding: 3rem;
    background-color: #efefef;
    max-width: 1000px; 
}

header{
    background: url("../icon.png") no-repeat 0 0;
    padding: 1rem 0 0 15rem;
    background-size: contain;
}

header h1{
    margin-bottom: 1rem;
}